/* 
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

:root {
  font-family: "Manrope";
  font-size: 100%;
}

h1 {
  font-size: 1rem;
  color: rgb(208, 226, 234);
  font-weight: bold;
}
p {
  font-size: 0.5rem;
  color: rgb(118, 250, 177);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(33, 39, 50);
  overflow: hidden;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.advice_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(49, 59, 72);

  height: min-content;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 0.5rem;

  position: relative;
}

.advice_text {
  width: 295px;
  text-align: center;
}

.breaker img {
  width: 100%;
  content: url("images/pattern-divider-mobile.svg");
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(118, 250, 177);
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: -2rem;

  transition: all 0.2s ease-in-out;
}

.dice img {
  width: 2rem;
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2rem;
  font-size: 0.7rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
  :root {
    font-size: 200%;
  }

  .advice_text {
    width: 444px;
    text-align: center;
  }

  .breaker img {
    content: url("images/pattern-divider-desktop.svg");
  }
}

/* if device has a touch screen */
@media (any-pointer: coarse) {
  .dice {
    box-shadow: 0 0 2rem rgb(118, 250, 177);
  }
}

/* if device has no touch screen */
@media (any-pointer: fine) {
  .dice:hover {
    cursor: pointer;
    box-shadow: 0 0 2rem rgb(118, 250, 177);
  }
}
